.user-image{
	display: block;
	height: 12.5em;
	width: 12.5em;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
	margin: 1em auto auto auto;
}

h2.name{
	text-align: center;
	padding: 0 1em;
	margin-top: 0.25em;
	font-family: "Oswald Light";
	font-weight: bold;
	/* font-size: 2em; */
}

.address{
	display: block;
	text-align: center;
	margin-bottom: 0.5em;
	font-family: Roboto;
}

.skills .panel-default{
	padding: 1em;
}

.skills .panel-default h4{
	margin-top: 0;
}

.spec{
	display: flex;
	justify-content: center;
}

.spec > *{
	font-size: 1.25em;
}

.spec > :first-child{
	margin-right: 1em;
	color: #e5a11f;
}

.spec > :last-child{
	color: #cf1818;
}

.hire-button{
	background-color: #72c11e;
	color: white;
	border-radius: 1em;
	border: none;
	margin: auto;
	font-size: 1.2em;
	font-family: "Gotham Light";
	padding: 0.25em 2em;
	display: block;
	margin: 0.75em auto;
}

.skill-rating{
	display: block;
}